clang-format >= 17
clang-tidy >= 17
cmake >= 3.25
-r Source/Scripts/static_code_analysis/requirements.txt
-r Source/Library/UI/HTTP/requirements.txt
-r CI_CD/pipeline/requirements.txt
-r Tools/OTA/ota-server/requirements.txt
-r Source/Scripts/provisioning/requirements.txt
pywin32>=311 ; sys_platform == 'win32'